<!DOCTYPE html>
<html>
  <head>
    <title>Pictures</title>
  </head>
  <body>
    <h1>Pictures</h1>
    <%= link_to("New Picture", "/pictures/new") %>
    <% @pictures.each do |picture| %>
    <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
    <% end %>
  <aside>
    <h2>Most recent pictures</h2>
    <ul>
      <% @one_month_ago.each do |picture| %>
        <li><%= picture.title %> | <em><%= picture.created_at %></em></li>
      <% end %>
    </ul>
  </aside>
  <h3>Last year pictures</h3>
<ul>
  <% Picture.pictures_created_in_year(2017).each do |picture| %>
    <li><%= picture.title %></li>
  <% end %>
</ul>
  <% if params[:year] != nil %>
  <h4> Pictures from <%= @year %></h4>
  <p>
    <% @pictures_from_year.each do |picture| %>
      <li><%= picture.title %></li>
    <% end %>
  <% end %>
  </p>
  </body>
</html>
