<!DOCTYPE html>
<html>
  <head>
    <title>One Picture</title>
  </head>
  <body>
    <%= link_to("Back to Pictures", "/pictures") %> | <%= link_to("Edit", "/pictures/#{@picture.id}/edit") %> | <%= link_to("Delete", "/pictures/#{@picture.id}", method: :delete, data: {confirm: "Are you sure you want to delete this picture?"}) %><br>
    <%= @picture.title %>, <%= @picture.artist %></p>
    <img src="<%= @picture.url %>"
  </body>
</html>
