<!DOCTYPE html>
<html>
<head>
  <title>Photogur</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<main>  <% if !current_user %>
  <p><%= link_to 'Login', new_sessions_path %></p>
  </p> Please log in to see pictures </p>
  <% else %>
  <p>
    <p><%= link_to 'New User', new_users_path %>
     <%= link_to 'Logout', sessions_path, method: :delete %> </p>
    <p>Hello <%= current_user.email %></p>
    <%= link_to("New Picture", "/pictures/new") %> |
    <%= link_to("Back to Pictures", "/pictures") %></p>
  <% end %>
  <% if flash[:notice] || flash[:alert] %>
    <div class="notice"><%= flash[:notice] %></div>
    <div class="notice"><%= flash[:alert] %></div>
  <% end %>


<%= yield %>
</main>
</body>
</html>
